body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}
nav{
    background-image: linear-gradient(red,black);
}
.nav-item:hover {
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px red, 0 0 20px blue;
}

.hero {
    background: url('../images/game4.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Audiowide', cursive;
}
.hero  p{
    color: #fff;
    text-shadow: 0 0 10px red, 0 0 20px blue;
}
#section{
    background-color: #000;
    color: rgb(221, 72, 72);
}
#section p{
    font-size: 20px;
} 
.hero .display-4, .hero .lead, .navbar-brand, .features h3, footer {
    font-family: 'Audiowide', cursive;
}

.hero .display-4, .hero .lead h3 p{
    text-shadow: 3px -3px 10px red, -3px -3px 10px blue;
}

.features .col-md-4 {
    margin-bottom: 30px;
}

.features .fa-gamepad, .features .fa-trophy, .features .fa-users {
    color: #ff6347;
}

footer {
    background-image: linear-gradient(black 30px, blue);
    background-color: #000;
    font-family: 'Audiowide', cursive;
}

.h1, .p1 {
    text-shadow: 3px 3px 10px red, -3px -3px 10px blue;
}

/* Button hover effect */
.btn-danger {
    position: relative;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.btn-danger:hover {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
    color: #fff;
    box-shadow: 0 0 10px red, 0 0 20px blue;
}